// Break points
$phone: 640px;
$tabletPortrait: 1000px;
$tablet: 1280px;
$desktop: 1800px;

#landing-page {
  width: 100vw;
  min-height: 100vh;

  .content-wrapper {
    width: 100%;
    max-width: 153rem;
    height: 100%;

    margin: 0 auto;
    padding: 0 4rem;
  }

  .page__hero {
    position: relative;
    width: 100%;
    height: 21.7rem;
    background: #4f6ff5;

    .content-wrapper {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      display: flex;
      align-items: flex-end;

      h1 {
        z-index: 10;
        display: flex;
        align-items: center;
        padding-bottom: 2rem;
        color: #fff;
        font-size: 4.1rem;

        img {
          width: 6.1rem;
          margin-right: 2rem;
        }
      }
    }
  }

  main {
    display: flex;
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 6rem;
    background: #fff;

    .content-wrapper {
      display: flex;
      justify-content: space-between;
      gap: 5rem;

      @media screen and (max-width: $tabletPortrait) {
        flex-direction: column-reverse;
        align-items: center;
      }
    }
  }

  .user-cards__container {
    width: 62%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;

    @media screen and (max-width: $tablet) {
      justify-content: space-evenly;
    }

    @media screen and (max-width: $tabletPortrait) {
      width: 100%;
      max-width: unset;
    }
  }

  .user__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 32%;
    min-width: 24rem;
    max-width: 27rem;
    height: 30rem;
    margin-bottom: 5rem;
    background: #fff;
    border: 1px solid #4f6ff5;

    @media screen and (max-width: $tablet) {
      width: 50%;
    }

    @media screen and (max-width: $phone) {
      width: 100%;
      max-width: 32rem;
      height: 35rem;
    }

    .profile-img__container {
      display: flex;
      width: 13rem;
      height: 13rem;
      border-radius: 50%;
      background-color: #f9faff;
      margin-bottom: 1.4rem;

      .profile-img {
        width: 7rem;
        margin: auto;
      }
    }

    .user__name {
      margin-bottom: 0.8rem;
      font-size: 1.8rem;
      text-align: center;
    }

    .user__email {
      margin-bottom: 0.8rem;
      font-size: 1.2rem;
      color: #6a6a6a;

      &:hover {
        color: #ff7e65;
      }
    }

    .user__customer,
    .user__status {
      margin-bottom: 0.8rem;
      font-size: 1.4rem;
      font-weight: bold;

      strong {
        color: #ff7e65;
      }
    }
  }

  .highlight {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -9px;
      left: -39px;
      transform: rotate(-45deg);

      border-style: solid;
      border-color: #ff7e65 transparent;
      border-width: 0rem 6rem 6rem 6rem;
    }

    .user__customer {
      font-size: 1.6rem;
    }
  }

  aside.filter__container {
    width: 33%;
    max-width: 48rem;
    height: 50rem;
    padding: 7rem clamp(2rem, 4%, 5rem);
    border: 1px solid #4f6ff5;

    @media screen and (max-width: $tabletPortrait) {
      width: 100%;
      max-width: unset;
    }

    h3 {
      font-size: 2.7rem;
      margin-bottom: 3.5rem;
    }

    .input-container {
      position: relative;
      margin-bottom: 3.5rem;
    }

    input {
      width: 100%;
      height: 4.2rem;
      padding: 0px 3rem;
      border: 1px solid #5173f1;
      border-radius: 4.2rem;
      color: #4e4e4e;
      font-size: 1.6rem;

      &:focus {
        background: #eff2fe;
      }
    }

    label {
      position: absolute;
      left: 20px;
      top: -0.5em;
      display: inline-block;
      padding: 0px 10px;
      background-color: #fff;
      color: #5173f1;
      font-size: 12px;
      line-height: 1em;
    }

    .filter-button {
      width: 100%;
      height: 4rem;
      background-color: #5173f1;
      border-radius: 2rem;
      border: 0;
      color: #fff;
      font-size: 1.4rem;
      font-weight: bold;
    }
  }

  .page__footer {
    width: 100%;
    height: 10rem;
    border-top: 1px solid rgba(112, 112, 112, 0.25);

    .content-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
    }

    h6 {
      margin: auto;
      color: #4e4e4e;
      font-size: 12px;
    }
  }
}
