#landing-page {
  width: 100vw;
  height: 100vh;

  .content-wrapper {
    width: 100%;
    max-width: 153rem;
    height: 100%;

    margin: 0 auto;
    padding: 0 4rem;
  }

  .page__hero {
    position: relative;
    width: 100%;
    height: 21.7rem;
    background: #4f6ff5;

    .content-wrapper {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      display: flex;
      align-items: flex-end;

      h1 {
        z-index: 10;
        display: flex;
        align-items: center;
        padding-bottom: 2rem;
        color: #fff;
        font-size: 4.1rem;

        img {
          width: 6.1rem;
          margin-right: 2rem;
        }
      }
    }
  }

  main {
    display: flex;
    width: 100%;
    padding-top: 4rem;
    background: #fff;

    .content-wrapper {
      display: flex;
      justify-content: space-between;
    }
  }

  .user-cards__container {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
  }

  .user__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25rem;
    height: 27rem;
    margin-bottom: 5rem;
    background: #fff;
    border: 1px solid #4f6ff5;

    .profile__img {
      width: 9rem;
      margin-bottom: 1.4rem;
    }

    .user__name {
      margin-bottom: 0.6rem;
      font-size: 1.8rem;
      text-align: center;
    }

    .user__email {
      margin-bottom: 0.6rem;
      font-size: 1.2rem;
      color: #6a6a6a;

      &:hover {
        color: #ff7e65;
      }
    }

    .user__customer,
    .user__status {
      margin-bottom: 0.6rem;
      font-size: 1.4rem;

      strong {
        color: #ff7e65;
      }
    }
  }

  .highlight {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -0.6rem;
      left: -2.6rem;
      transform: rotate(-45deg);

      border-style: solid;
      border-color: #ff7e65 transparent;
      border-width: 0rem 4rem 4rem 4rem;
    }

    .user__customer {
      font-size: 1.6rem;
      font-weight: bold;
    }
  }

  aside {
    width: 33%;
    border: 1px solid #4f6ff5;
  }
}
